.activity-container {
  position: absolute;
  top: 180px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: var(--ppk-padding-m);
  gap: var(--ppk-gap-m);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  padding: var(--ppk-padding-m);
  align-items: center;
  align-content: center;
  gap: var(--ppk-gap-m);
}
.button-container button {
  padding: var(--ppk-padding-s) var(--ppk-padding-m);
  border-radius: 15px;
  width: 150px;
  height: 50px;
  border: rgb(167, 80, 49) 2px solid;
  background-color: var(--ppk-color-primary);
  color: rgb(50, 87, 209);
  font-size: var(--ppk-font-size-m);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
