.update-horario-container {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  align-content: space-evenly;
  gap: 20px !important;
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}
.containerselect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-evenly;
  padding: 10px;
  gap: 15px;
  border-radius: 8px;
}
.selectupdate {
  width: 100%;
  display: flex;
  align-items: space-evenly;
  justify-content: center;
  align-content: center;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}
.selectupdate input {
  margin-left: 10px;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.horarioup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.horario-update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}
.horario-update-form input,
select {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
  text-align: center;
}
.horario-update-form button {
  padding: 8px 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
