.loading_img {
  width: 150px;
  height: 150px;
}
.Apuntarextraform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  width: 100%;
}
.Apuntarextraform label {
  font-weight: bold;
  margin-bottom: 5px;
}
.Apuntarextraform input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}
.Apuntarextraform button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Apuntarextrasuccess {
  color: green;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Apuntarextrasuccess button {
  padding: 10px 20px;
  background-color: salmon;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
