.delete-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: fit-content;
}
.selectt {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: space-evenly;
  height: 300px;
  justify-content: center;
  align-items: center;
}
.selectt select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
}
.selectt button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  background-color: #766dce;
  color: white;
  border-radius: 10px;
  border: none;
  width: 100px;
}
.product-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  align-items: center;
  margin-bottom: 20px;
}
.product-itemm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
}
.product-itemm button {
  cursor: pointer;
  font-size: 14px;
  padding: 8px;
  background-color: #e74c3c;
  color: white;
  border-radius: 8px;
  border: none;
}
.product-list button {
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
  background-color: #766dce;
  color: white;
  border-radius: 10px;
  border: none;
}
