.Homecontainer {
  position: absolute;
  top: 100px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Homecontainer h1 {
  text-decoration-style: double;
  text-shadow: 5px 5px 5px gray;
  position: absolute;
  animation: headerAnimation 3s ease-in-out infinite;
  top: 50px;
  font-size: 50px;
}
@keyframes headerAnimation {
  0%,
  100% {
    color: rgb(37, 36, 36);
  }
  50% {
    color: rgb(255, 255, 255);
  }
}
.Homecontainer h2 {
  position: absolute;
  top: 130px;
  font-size: 18px;
  color: rgb(163, 85, 85);
}
.description {
  position: absolute;
  top: 200px;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}
.details {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 300px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  gap: 10px;
}
.details p {
  font-size: 16px;
  color: rgb(100, 100, 100);
}

.details button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.imagehome {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  animation: fade 5s infinite;
  border-radius: 10px;
}
.imagehome1 {
  height: 150px;
  background-image: url('https://media.licdn.com/dms/image/v2/D4D12AQEKedoheRtmvQ/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1689331972948?e=2147483647&v=beta&t=NhaD9ELm-aXHXSycmxPd2wpy7TTihkjzUQtRhivJZvw');
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  border-radius: 10px;
}
@keyframes fade {
  0% {
    background-image: url('https://restaurantemarisol.com/wp-content/uploads/2023/10/claves-para-elegir-un-buen-catering-de-bodas.jpg');
  }

  50% {
    background-image: url('https://img.freepik.com/foto-gratis/gente-celebrando-fiesta_53876-14410.jpg?semt=ais_hybrid&w=740&q=80');
  }
  100% {
    background-image: url('https://www.gaucatering.com/wp-content/uploads/2020/05/Catering-barcelona.jpg');
  }
}
@media (max-width: 731px) {
  .Homecontainer h1 {
    font-size: 30px;
    top: 70px;
  }
  .Homecontainer h2 {
    top: 120px;
    font-size: 14px;
  }
  .description {
    top: 160px;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 455px) {
  .Homecontainer h1 {
    font-size: 25px;
    top: 90px;
  }
  .Homecontainer h2 {
    top: 140px;
    font-size: 12px;
  }
  .description {
    top: 180px;
    flex-direction: column;
    gap: 20px;
  }
  .details {
    width: 300px;
    height: fit-content;
    padding: 20px;
  }
  .imagehome {
    width: 250px;
    height: 150px;
  }
}
