header {
  height: fit-content;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center !important;
  gap: 20px;

  padding: var(--ppk-padding-m);
}
.logo {
  width: 100px;
  height: 50px;
}
nav {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  min-width: 375px;
  flex-wrap: wrap;
}
ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.logout-button {
  padding: 10px 20px;
  background-color: #f38080;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.activity {
  padding: 10px 20px;
  background-color: #89d18b;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (max-width: 540px) {
  header {
    justify-content: center;
  }
}
