.productcreateform {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 20px;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.productcreateform input,
select {
  width: 400px;
  height: 40px;
  border-radius: 18px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
.productcreateform label {
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}
.productcreateform button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (max-width: 600px) {
  .productcreateform {
    width: 400px;
  }
  .productcreateform input,
  select {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .productcreateform {
    width: 300px;
    height: auto;
  }
  .productcreateform input,
  select {
    width: 200px;
  }
  .productcreateform button {
    width: 150px;
  }
}
.success {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  height: 200px;

  justify-content: center;
  align-items: center;
  gap: var(--ppk-gap-m);
}
.success button {
  width: 100px;
  background-color: rgb(153, 50, 50);
  height: 40px;
  border: none;
  border-radius: 15px;
}
