.selectdate_extra {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  gap: 20px !important;
  background-color: #f9f9f9;
}
.selectdate1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.selectdate1 button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.selectdate2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  font-size: 12px;
}
.extra-hour-item {
  display: flex;
  width: 350px;
  height: 70px;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
}
.extra-hour-item h3 {
  width: 200px;
}
.extra-hour-item button {
  padding: 5px 10px;
  background-color: salmon;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.updateextraform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
}
.updateextraform label {
  font-weight: bold;
}
.updateextraform input {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}
.updateextraform button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}
