.login-container {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 20px;
}
.loading-image {
  width: 50px;
  height: 50px;
  position: relative;
  left: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: 0 auto;
  align-items: center;
}
.login-form label {
  font-weight: bold;
}
.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.login-form button {
  font-size: 18px;
  padding: 10px;
  background-color: #5ee463;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
  transition: background-color 0.3s ease;
}
.success-message {
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  gap: var(--ppk-gap-m);
}
