.create-horario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-evenly;
  padding: 10px;
  gap: 15px;
  border-radius: 8px;
}
.staff-list {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
}
.staff-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border: 2px solid #eee;
  justify-content: center;
  cursor: pointer;
}
.selected-staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 2px solid #007bff;
  border-color: #007bff;
  background-color: #e7f1ff;
}
.selected-staff button {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}
.horario-preview {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.horario-forms {
  padding: 20px;
}
.horario-item {
  border: black 2px solid;
  padding: 15px;
}
.horario-item select {
  width: 100px;
}
.horario-item input {
  width: 120px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
}
.create-horario-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 763px) {
  .horario-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
  }
}
