.delete-event-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
}
.event-delete-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}
.event-delete-form img {
  width: 200px;
}
.event-delete-form button {
  padding: 10px 20px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
