.createevent {
  display: flex;
}
.eventcreateform {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 20px;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.eventcreateform span {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.eventcreateform input {
  width: 400px;
  height: 40px;
  border-radius: 18px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}
.eventcreateform label {
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}
.eventcreateform button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (max-width: 600px) {
  .eventcreateform {
    width: 400px;
  }
  .eventcreateform input {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .eventcreateform {
    width: 300px;
    height: auto;
  }
  .eventcreateform input {
    width: 200px;
  }
  .eventcreateform button {
    width: 150px;
  }
}
